In [2]:
import pandas as pd
import re

In [3]:
df = pd.read_csv("../data/news_dataset.csv")

In [4]:
df.head(5)

,article,summary
0,ray dvd beats box office takings oscar-nomina...,ray has been nominated in six oscar categories...
1,baghdad blogger on big screen a film based on...,"a film based on the internet musings of the ""b..."
2,spector facing more legal action music produc...,"ms clarkson's legal action, filed in los angel..."
3,john peel replacement show begins the permane...,the permanent replacement for late dj john pee...
4,no charges against tv's cosby us comedian bil...,"cosby's lawyer, walter m phillips jr, said the..."

In [7]:
def lower_text(text):
    return text.lower()

df["article"] = df["article"].map(lower_text)
df["summary"] = df["summary"].map(lower_text)

In [10]:
def remove_newlines(text):
    return re.sub(r"\n", " ", text)

df["article"] = df["article"].map(remove_newlines)
df["summary"] = df["summary"].map(remove_newlines)

In [12]:
df.to_csv("../data/news_dataset.csv", index=False)

In [6]:
df.isna().sum()

article    0
summary    0
dtype: int64

In [7]:
from sklearn.model_selection import train_test_split

train_df, test_df = train_test_split(df, test_size=0.2, random_state=42)

train_df.to_csv("../data/train.csv", index=False)
test_df.to_csv("../data/test.csv", index=False)

In [12]:
import string

def remove_punc(text):
    return text.translate(str.maketrans('', '', string.punctuation))

test_df["article"] = test_df["article"].map(remove_punc)
test_df["summary"] = test_df["summary"].map(remove_punc)

In [11]:
train_df.sample(5)

,article,summary
1026,yachvili savours france comeback france scrum...,we didnt play last week against scotland and w...
825,keegan hails comeback king fowler manchester ...,fowlers double strike helped city come back fr...
1834,stock market eyes japan recovery japanese sha...,japanese shares have ended the year at their h...
327,pupils to get antipiracy lessons lessons on m...,music piracy including illegally swapping musi...
2221,germany calls for eu reform german chancellor...,mr schroeder also called for heads of governme...

In [13]:
test_df.to_csv("../data/train.csv", index=False)